body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  min-height: calc(100vh - 70px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #1d1d1d;
}

.header-logo {
  height: 60px;
  margin: 10px 0 10px 10px;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
}

.header-logo-right {
  height: 80px;
  margin-top: 10px;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  background-image: url('../assets/images/canva-photo-editor (1).png');
}

.left-logo {
  width: 25vw;
  margin-right: 20px;
}

.middle-container-bottom {
  height: 10px;
  width: 100%;
  background-color: #1d1d1d;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: -70px;
  height: 70px;
  width: 100%;
  background-color: #1d1d1d;
}

.footer p {
  color: white;
  margin-left: 3vw;;
}

.login-container {
  background-color: #1d1d1d;
  opacity: 0.88;
  width: 400px;
  border-radius: 10px;
}

#login-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  height: 230px;
}

.control-label {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.login-btn {
  width: 75px;
  border-radius: 5px;
  background-color: #4DA1DE;
}

.login-btn:hover {
  background-color: #82c3f2;
}

@media screen and (min-width: 600px) {
  .middle-container {
    background-color: #1d1d1d;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 600px) {
  .left-logo {
    display: none;
  }
}

@media screen and (max-width: 600px) and (min-width: 415px) {
  /*.header-logo-right {
    display: block;
    margin-top: 10px;
    margin-left: 25vw;
  }*/

  .middle-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 415px) {
  /*.header-logo-right {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }*/

  .btn-block {
    margin-top: -24px;
  }

  .ReactTable {
    padding-bottom: 70px;
  }

  .login-container {
    width: 350px;
  }
}

.stats-table {
  padding: 0 20px 0 20px;
}

.chart-content {
  min-height: 350px;
}

.roster-item {
  text-align: center !important;
  font-size: 14px;
  font-weight: 500;
  color: #4e4e4e !important;
  cursor: pointer;
}

.col-xs-5 {
  padding-left: 10px !important;
  padding-right: 10px !important;
  align-items: center !important!;
}

.spinner {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.batter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.batter {
  font-size: 20px;
}

.next-better {
  font-size: 12px;
}

.batter-name {
  font-size: 26px;
  font-weight: bold;
}

.next-batter-name {
  font-size: 14px;
  font-weight: bold;
}

.hit-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #535353;
  border-radius: 5px;
  padding: 5px;
}

.hit-selection-text {
  z-index: 2;
  flex: 1;
  font-size: 20px;
  margin: 20px 0 -2px 0;
  padding: 5px 35px 10px 35px;
  border: 2px solid #535353;
  border-bottom: 2px solid white;
  border-radius: 5px 5px 0 0;
}

.hit-button {
  width: 100px;
  margin: 5px !important;
  border-radius: 5px !important;
  background-color: #4da1de !important;
}

.hit-button.active {
  background-color: #d46767 !important;
}

.homerun-btn {
  margin-left: 60px !important;
}

.rbi-box {
  display: flex;
  flex-direction: column;
}

.rbi-count-box {
  display: flex;
}

.rbi-btn {
  width: 60px;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 5px 0;
  border-radius: 5px;
}

.rbi-text {
  font-size: 35px;
  margin: 0 10px 0 10px;
}

.rbi-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #535353;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-bottom:20px;
}

.next-batter-btn {
  font-size: 20px;
  border-radius: 5px !important;
  width: 50vw !important;
}
